body {
  background: #ffdcdc;
  height: 100%;
  width: 100%;
}
#border {
  display: block;
  position: relative;
  margin: 0 17%;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  font-family: "Karla", sans-serif;
  border-radius: 1%;
  max-width: 65%;
  max-height: 50%;
}

#city-input {
  width: 80%;
  margin-top: 2%;
}

#degree {
  position: fixed;
  font-size: 140px;
  margin-top: -3%;
  margin-left: -5%;
  padding: 0;
}

h1 {
  color: #9f5f80;
  font-size: 55px;
  margin-top: -4%;
}
h4 {
  margin-top: -2%;
  padding: 0;
}
#description {
  margin-top: -1%;
  text-transform: capitalize;
}

.units {
  position: fixed;
  font-size: 20px;
  text-decoration: none;
  top: 27%;
  left: 33%;
}

span.weather_info {
  position: fixed;
  font-size: 19px;
  right: 25%;
  top: 30%;
}

ul {
  list-style-type: none;
  line-height: 1.5;
}
.icon {
  display: block;
  size: 40px;
  margin-top: 30%;
  margin-bottom: 2%;
  margin-left: -19%;
}

.five-days-tenperature {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
#hours {
  position: relative;
}
.temperatures {
  font-size: 20px;
  position: relative;
}
.footer {
  text-align: center;
  font-family: PT Mono;
  font-size: 13px;
}
button {
  display: block;

  margin-top: -7%;
  margin-left: 80%;
}
