.container {
  font-family: "Karla", sans-serif;
}
#border {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  max-width: 60%;
  max-height: 10%;
  border-radius: 1%;
}
#search_city {
  width: 60%;
}
#degree {
  position: relative;
  font-size: 175px;
  margin-top: -8%;
}
#current-location {
  height: 37px;
  position: fixed;
  float: right;
}
h1 {
  color: rgb(18, 91, 160);
  font-size: 60px;
  margin-top: -1%;
}
h4 {
  margin: 0;
  padding: 0;
}
.icons {
  font-size: 70px;
  position: relative;
}
.units {
  position: relative;
  font-size: 20px;
  text-decoration: none;
  top: 19%;
  left: 9%;
}
.temperatures {
  font-size: 20px;
  position: relative;
  left: 3%;
}
.days {
  font-size: 20px;
}
span.weather_info {
  position: fixed;
  font-size: 19px;
  left: 55%;
  top: 30%;
}

ul {
  list-style-type: none;
  line-height: 1.5;
}
.icon {
  font-size: 130px;
  margin-top: -23%;
  margin-left: 16%;
}

.five-days-tenperature {
  position: relative;
}
.footer {
  text-align: center;
  font-family: PT Mono;
  font-size: 13px;
}
